body{
    margin: 0;
    font-family: "Unbounded", sans-serif;
    background-color: #fff ;


}

.blocs_header_pc{
    display: flex;
}

.bloc_header_pc{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc_header_pc img{
    margin: 0px 32px;
    width: 24px;

}

.rev_data_2 {
    display: none;
}

.create_reviews_finish{
    margin: 30px 0px;
    width: 290px;
    height: 50px;
    border-radius: 10px;
    background: #000000;
    color: #fff;
    font-size: 16px;
}

.sgerch_pc{
    cursor: pointer;
    margin-left: 20px;
    padding-left: 20px;
    width: 490px;
    height: 50px;
    border-radius: 10px;
    color: #768C96;
    border: 2px solid #768C96;
}

.header_pc{
    z-index: 1;
    background: #fff;
    top: 0;
    position: sticky;
    display: flex;
    height: 147px;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.header_pc img{
    cursor: pointer;
}
.header_pc_vision{
    display: flex;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.gui{
    padding: 10px 30px;
    background: #111;
    color: #fff;
    height: 50px;
    width: 290px;
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 14px;
    cursor: pointer;
}
.button button{
    padding: 10px 30px;
    background: #111;
    color: #fff;
    height: 50px;
    width: 290px;
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 14px;
    cursor: pointer;

}
.button_23 button{
    margin-top: 20px;
    padding: 10px 30px;
    background: #111;
    color: #fff;
    height: 50px;
    width: 290px;
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 14px;
    cursor: pointer;
}

.advertising_pc{
    margin-top: 0px;
    width: 100%;
    height: 221px;
    background: #D9D9D9;
}

.manu_header{
    background-color: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 99999;
    position: fixed;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: baseline;
    display: flex;
    bottom: 1px;
    width: 100vw;
    justify-content: space-evenly;
    padding-top: 15px;
}

.manu_block{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}

.footer {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.footer a, .name_password_review a{
    font-size: 20px;
    font-weight: 600;
}


.footer img{
    margin-left: 50px;
    cursor: pointer;
    width: 40px;
}
.footer a{
    cursor: pointer;
    
    width: 50px;
}

.slider-container {
    width: 660px;
    display: flex;
    flex-direction: row;
}

.slider {
  display: flex;
  overflow: hidden;
}

.slide {
  width: 480px;
  height: 420px;

  flex: 0 0 100%;
}

.thumbnails {
  position: relative;
  display: flex;
    justify-content: center;
    flex-direction: column;
}

.thumbnail {
    display: flex;
    width: 120px;
    height: 94px;
    margin: 5px 5px;
    border: 1px solid #4F7B8E;
    border-radius: 13px;
    flex-direction: column;
    align-items: center;
}


.thumbnail img{
  width: 78%;

}

.slide img{
  width: 480px;
}

.next, .prev {
  position: absolute;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.pool_pc_cart_product_1 a, .pool_pc_cart_product_2 a{
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
}

.prev {
  left: 48px;
    top: 16px;
}

.next {
  right: 48px;
    bottom: -25px;
}

.manu_header p{
    font-size: 10px;
}



.pool{
    margin: 20px;
    z-index: 1;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    height: 60px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 15px;
}

.tlk-input{
    font-size: 14px;
    z-index: 0;
    width: 80%;
    height: 40px;
    font-weight: 100;
    letter-spacing: 0.5px;
    color: black;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    border: none;

}

.name_input a{

    font-size: 14px;
}

.name_input{
    font-size: 13px;
}

.input_profile_setting{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.hr hr{

    width: 348px;
}

.name_password_review{
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
}

.block_password_review{
    margin: 40px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 310px;
}

.password_review{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 310px;
    justify-content: space-between;
    align-items: center;
}

.input_block_password_review input{
    width: 195px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;

}

.name_block_password_review a{
    font-size: 13px;
}



.button{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    padding: 50px 0;
    padding-bottom: 100px;
}

.button button{
    margin-left: 15px;
    padding: 10px 30px;
    background: #000000;
    color: #fff;
    width: 290px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 16px;
    cursor: pointer;

}

.cart_1{
    margin-top: 30px;
    margin-left: 40px;
    width: 342px;
    padding: 5px 20px;
    height: 190px;
    border: 2px solid #E0E0E0;
    border-radius: 10px;
}


.visa_mc_mir img{
    width: 250px;
}

.cart_pagers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cross{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.num_cart{
    display: flex;
    flex-direction: column;
}

.data_cvv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input_day{
    display: flex;
}

.input_day input{
    width: 41px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    text-align: center;
}

.cvv{
    display: flex;
    flex-direction: column;
}

.cvv input{
    width: 41px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    text-align: center;
}

.num_cart input{

    height: 26px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 100px;
    justify-content: space-evenly;
}


.visa_mc_mir{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart a{
    color: #858484;
    font-size: 13px;
}

.cross a{
    font-size: 20px;
    font-weight: bold;
}

.header_name_back{
    background: #fff;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 45vw;
}

.header_name_back a{
    margin-left: 15px;
    font-size: 20px;
    font-weight: 700;
}

.not_delivery{
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.not_purchases{
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.text{
    text-align: center;
    margin-bottom: 20px;
}



.f_1{

    background: #E0E0E0 ;
}

.not_delivery img{

    margin-top: 130px;
    margin-bottom: 30px;
}

.dilivery_block{
    padding: 35px 20px;
    background: #fff;
    width: 430px;
    margin: 40px;
    border: 1px solid #757575;
    border-radius: 20px;

}


.purchases_block{
    padding: 35px 20px;
    background: #fff;
    width: 430px;
    margin: 40px;
    border: 1px solid #757575;
    border-radius: 20px;
}

.p1{
 font-size: 14px;
 font-weight: 600;
}

.p2{
    font-size: 10px;
   }


   .p3{
    font-size: 10px;
    color: #858484;
   }

.name_pr{
    margin-left: 15px;
    font-size: 10px;
    font-weight: 600;
}

.price a {
    font-size: 14px;
    font-weight: 800;
}

.status a {
    font-size: 14px;
    font-weight: 600;
}

.photo_name{
    display: flex;
}
.name_edit{
    margin-bottom: -5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

.button_23{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
#popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 40vw;
    height: 100px;
    z-index: 1000;
}


.manu_block_activ{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}

.manu_block_activ p{
    font-weight: bold;
}

.logo img{
    width: 48px;
}

.logo img{
    background: #fff;
}

.advertising{
    width: 100vw;
    height: 167px;
    background: #e0e0e0;
}

.header-home{
    padding-bottom: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #fff;
}

.sale{
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sale a{
    font-size: 20px;
    font-weight: 600;
}


.an_sell{
    margin-top: -16px;
    font-size: 9px;
    line-height: 12px;
}

.sale_product_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 13vw;
    margin-left: 3px;
    margin-right: 3px;
}

.sale_product_block img{
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.price_sale{
    font-size: 14px;
    color: #ff0000;
    font-weight: bold;
    margin-top: -16px;
}

.sale_product{
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.showcase_home{
    padding: 10px;
    margin-bottom: 70px;
    background: #fff;
    margin-top: 3px;
    border-radius: 20px;
}

.showcase_title{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.img_1
{
    position: absolute;
    left: 25px;
    margin-top: 6px;
    height: 16px;
}

.img_2{
    position: absolute;
    left: 30px;
    margin-top: 6px;
    height: 16px;
}

.photo_like, .photo_showcase{
    position: relative;
    display: block;
}



.showcase_home_line{

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.price_person{
    display: flex;
    align-items: flex-end;
}

.price_showcase_home{
    font-weight: bold;
    font-size: 20px;


}

.person_text_showcase_home{
    padding-bottom: 4px;
    margin-left: 5px;
    font-size: 10px;
    text-decoration: underline;
    color: #757575;
}

.an_showcase_home{
    margin-top: -23px;
    line-height: 12px;
    font-size: 10px;
    font-weight: 500;
}



.top{
    font-size: 10px;
    font-weight: 500;
}

.top_star{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.star img{
    margin-left: -4px;
    padding-bottom: 2px;
    margin-top: 6px;
}

.star{
    margin-left: 5px;
    width: 33px;

}

.top_cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo_like button {
    top: 1px;
    position: absolute;
    left: 1px;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
  }


.selector svg {
    width: 14px;

  }
  
 
  
  .selector[aria-pressed=true] {
      opacity: 1;
  }

  .selector[aria-pressed=false] svg {
    fill: white;
}
.selector[aria-pressed=false] svg path {
    stroke: black;
}

.selector[aria-pressed=false] .like_no_1 {
    stroke: white;
}

  .selector[aria-pressed=true] svg {
      fill: red;
  }
  
  .selector[aria-pressed=true] svg path {
      stroke: red;
  }

.showcase_home_line{
    margin-bottom: 35px;
}

.photo_name img{
    width: 74px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
}

.name_part{
    margin-left: 45px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
}

.search{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 18px;
    margin-right: 20px;
    width: 90%;
    display: flex;
    border: 1px solid #E0E0E0;
    height: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.hidden{
    display: none;
}

.search_input{
    width: 100%;
    height: 95%;
    margin-left: 10px;
    border: none;
}

.search img{
    margin-right: 30px;
    width: 17px;
}

.categories_parths{
    cursor: pointer;
    width: 300px;
    margin-top: 50px;
    margin-left: 40px;
}


.data_categories, .data_categories_parths{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.data_categories span, .data_categories_parths span{
    margin-right: 10px;
}

.name_categories, .name_categories_parths{
    font-size: 14px;
}


.name_categories_parths_general, .name_showcase{
    font-size: 20px;
    font-weight: 600;
}

.categories_block hr, .categories_parths hr{
    color: #E0E0E0;
}

.exit{
    cursor: pointer;
    font-size: 25px;
    margin-right: 20px;
    margin-left: 20px;
}

.categories, .categories_parths{
    display: block;
    height: 630px;
}

.search_result_block img{
    width: 100px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.search_result_name{
    font-size: 9px;
}

.price_search_result{
    margin-top: -15px;
    font-size: 14px;
    font-weight: bold;
}
.search_result{
    display: none;
    margin-left: 5px;
    margin-right: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.search_result_block{
    margin-left: 5px;
    margin-right: 5px;
}

.header_categories_parths, .header_showcase{
    display: flex;
    margin-top: 50px;
    margin-bottom: 16px;
    align-items: center;
}

.brend{
    font-size: 9px;
    font-weight: 500;
    color: #757575;
}

.top_cart_howcase{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.availability_status{
    margin-top: 0px;
    font-size: 10px;
    font-weight: 500;

}

.like{
    margin-left: 50px;
}

.like button{
    margin-top: 7px;
    background: #4F7B8E;
    border-radius: 5px;
    border: none;
    position: absolute;
    top: 0px;
    right: 6px;
    width: 31px;
    height: 31px;
}

.prise_showcase_have_like{
    display: flex;
}

.prise_block{
    display: flex;
    align-items: flex-end;
}


.price_person_showcase{
    display: flex;
    flex-direction: column;
}

.prise_showcase_have{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 17px;

}

.like_no_1{
    margin-top: 4px;
}


.button_by_showcase{
    background: #000000;
    border: none;
    border-radius: 5px;
    height: 31px;
    width: 100%;
    color: #fff;
    font-size: 10px;
    font-weight: 100;
    
}


.an_showcase{
    margin-top: -15px;
    line-height: 12px;
    font-size: 10px;
    font-weight: 500;
}

.button_by{
    display: flex;
    justify-content: space-evenly;
    margin-top: 13px;
}

.showcase{
    display: flex;
    padding-left: 14px;
    padding-right: 14px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.showcase_home_block{
    margin: 20px;
    width: 15vw;
}

.showcase_block{
    position: relative;
 margin: 20px;
    width: 15vw;
    max-width: 281px;
}

.photo_product_showcase_home{
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.wite_pool{
    height: 100px;
}

.blue-button {
    background: #757575;
    border: none;
    border-radius: 5px;
    height: 31px;
    width: 100%;
    color: #fff;
    font-size: 10px;
    font-weight: 100;
  }

.red-button{
    background: #000000;
    border: none;
    border-radius: 10px;
    height: 31px;
    width: 100%;
    color: #fff;
    font-size: 10px;
    font-weight: 100; 
}



.header_cart_product{
    background: #fff;
    padding-top: 16px;
    padding-bottom: 30px;
}

.data_name_block{
    margin-top: -8px;
    background: #fff;
    border-radius: 20px;
    padding-top: 19px;
}

.name_product{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

.top_cart_product{
    font-size: 15px;
    margin-left: 20px;
}

.star_cart_product img{
    height: 15px;
    margin-left: -5px;
}

.star_cart_product{
    margin-left: 10px;
}

.brend_cart_product{
    color: #757575;
    font-weight: 600;
    margin-right: 21px;
}

.price_pr{
    display: flex;
    align-items: center;
}

.price_person{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
}

.prise{
    font-size: 36px;
    font-weight: 800;
    margin-left: 20px;
}

.pr{
    margin-top: 11px;
    font-size: 15px;
    font-weight: 600;
    color: #757575;
}

.counter{
    margin-left: 10px;
    display: flex;
    width: 100px;
    height: 37px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.counter button{
    width: 24px;
    background: #fff;
    border: none;
}

.min, .max{
    width: 25px;
}

.min{
    margin-right: 21px;
}

.counter span{
    position: absolute;
    font-size: 20px;
    font-weight: 600;
}

.like_cart_product{
    margin-bottom: 25px;
    display: flex;
}

.button_cart_product button{

    font-size: 16px;
    font-weight: 400;

    width: 320px;
    height: 50px;
    margin-right: 18px;
}

.like_cart_product{
    margin-left: 10px;
    margin-right: 12px;

}
#like_19{
    background: #4F7B8E;
    border-radius: 10px;
    border: none;
    width: 31px;
    height: 31px;  

}

.delivery_var{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -22px;
    background: #fff;
    border-radius: 20px;
}

.n1{
    margin-left: 20px;
    display: flex;
}

.n1 img{
    margin-right: 10px;
}

.n1 div{
    font-size: 14px;
    font-weight: 500;
}

.info_delivery_base, .info_delivery_fast{
    color: #757575;
    font-size: 12px;
    font-weight: 500;
    margin-left: 45px;
}

.n2{
    margin-top: 15px;
    margin-left: 45px;
    font-weight: 500;
    font-size: 14px;
}

.data_info{
    padding: 20px 0px;
    background: #fff;
    border-radius: 20px;
    margin-top: 3px;
}

.data_info a{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;

}

.info{
    padding-top: 20px;
    padding-right: 90px;
    margin: 10px 20px;
    font-size: 13px;
}

.h_block{
    margin: 0px 20px;
}

.h_data{
    display: flex;
    justify-content: space-between;
}

.h_name{
    color: #757575;
    font-weight: 400;
}
.h_info{
    font-weight: 400;
}

.characteristics{
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    border-radius: 10px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }
  
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
  }
  

.reviews{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    margin-top: 3px;
    background: #fff;
    border-radius: 20px 20px 0px 0px;
}

.reviews_block{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.reviews_block img{
    width: 24px;
}

.reviews_block div{
    font-size: 20px;
    font-weight: 600;
}

.hr hr{
    margin-top: 13px;
    width: 100%;
}

.hr{
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
}

.create_reviews{
    margin: 30px 0px;
    width: 290px;
    height: 50px;
    border-radius: 10px;
    background: #000000;
    color: #fff;
    font-size: 16px;
}

.button_create_reviews{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.parrent{
    width: 250px;
    height: 5px;
    background: #f2f2f2;
    margin: 5px;
}
.child{
    height: 100%;
    background: #FFC700;
    border-bottom-right-radius: 10px;
}
.five{
    width: 100%;
}
.four{
    width: 0%;
}
.three{
    width: 0%;
}
.two{
    width: 0%;
}
.one{
    width: 0%;
}

.reviews_percentage{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.num_rev{
    width: 60px;
    font-size: 13px;
    font-weight: 600;
    color: #757575;
}

.per_rev{
    font-size: 13px;
    font-weight: 600;
    color: #757575;
}

.reviews_h{
    background: #fff;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
}

.reviews_users_block_star img{
    width: 17px;
}

.data_reviews{
    margin-left: 10px;
    font-size: 11px;
    color: #757575;
}

.name_user{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;

}

.text_reviews{
    margin-top: 5px;
    font-size: 12px;
}

.reviews_users{
    margin-top: 3px;
    background: #fff;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
}

.header_new_reviews{
    margin-top: 10px;
    margin-right: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.name_new_reviews{
    margin-top: -20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.photo_reviews{
    display: flex;
    justify-content: space-evenly;
}
.photo_reviews img{
    width: 170px;
}

.name_product_new_reviews{
    
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.input_reviews{
    padding-left: 10px;
    margin-top: 20px;
    width: 290px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
}

.star_new_reviews {
    margin: 5px;
    display: inline-block;
    font-size: 30px;
    color: rgb(212, 212, 212);
    cursor: pointer;
}
.yellow {
    color: #FFC700;
}

.stars_new{
    margin-top: 40px;
    margin-bottom: 20px;

    width: 100%;
    display: flex;
    justify-content: center;
}

.item {
    margin-bottom: 10px;
}

.cart_name{
    margin-left: 45px;
    font-weight: 600;
    font-size: 20px;
}

.header_cart a{
    
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
}

.edit_cart{

    margin-top: 10px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.delete_select{
    color: red;
    font-size: 13px;
}

.header_cart{
    padding-bottom: 20px;
    padding-top: 50px;
    background: #fff;
    border-radius: 0px 0px 20px 20px;
}

.product_bloc_cart{
    border-bottom: 1px solid #E0E0E0;
    margin-top: 1px;
    background: #fff;
    padding: 20px 15px;
}

.checkbox_photo{
    display: flex;
}

.checkbox_photo img{
    width: 180px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    margin-left: 10px;
}

.by{
    font-size: 10px;
    width: 170px;
    height: 31px;
    color: #fff;
    background: #757575;
    border: none;
    border-radius: 10px;
}

.like_cart button{
    width: 29px;
    height: 29px;
    background: #4F7B8E;
    border: none;
    border-radius: 5px;
}

.by_next{
    margin-top: 55px;
    color: #fff;
    background: black;
    border-radius: 10px;
    width: 290px;
    height: 50px;
}

.header_name_buy1{
    padding-bottom: 20px;
    background: #fff;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 1px;

}

.header_name_buy1 a{
    font-size: 20px;
    font-weight: 600;
    margin-top: 45px;
}

.buy_var{
    padding-top: 25px;
    background: #fff;
    border-radius: 20px;
    margin-top: 1px;
}

.buy_var_parts {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
.block {
    width: 112px;
    height: 49px;
    border: 1px solid #E0E0E0;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
}

.selected {
    border-color: #4F7B8E;
}

.ok-button {
    width: 168px;
    height: 31px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    background-color: #E0E0E0;
    color: black;

}
.non-button {
    width: 168px;
    height: 31px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    background-color: #4F7B8E;
    color: white;
}
.delivery_block1 {
    padding-left: 20px;
    margin-bottom: 1px;
    padding-bottom: 20px;
    background: -moz-element();
    margin-top: 20px;
    display: none; /* Изначально скрываем все блоки */
}
.active-block {
    padding-left: 20px;
    margin-bottom: 1px;
    padding-bottom: 20px;
    background: -moz-element();
    margin-top: 20px;
    display: block; /* Показываем активный блок */
}
.b {
    font-size: 14px;
    text-align: center;
    width: 53px;
    height: 23px;
    border: 1px solid #E0E0E0;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

.b.black-border {
    border-color: #4F7B8E;
}

.supplier_name{
    font-size: 14px;
    font-weight: 600;
}

.supplier_name_data{
    font-size: 12px;
    font-weight: 400;
    margin-left: 20px;
}

.supplier{
    margin-left: 10px;
}


